<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619367678408-t4fj4gviptpmiirpipfita7amkr1ajfq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619367678408-t4fj4gviptpmiirpipfita7amkr1ajfq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>619367678408-vpbnb49tm69frioqnfp0n4ijq741ptd6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_HQ3fXCxHui7ooI907uwv0g3-nosnV0w</string>
	<key>GCM_SENDER_ID</key>
	<string>619367678408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArchmageSolutions.TheAppGarden</string>
	<key>PROJECT_ID</key>
	<string>appgardentesting-fb159</string>
	<key>STORAGE_BUCKET</key>
	<string>appgardentesting-fb159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619367678408:ios:dd10810ba023704a1140fd</string>
	<key>DATABASE_URL</key>
	<string>https://appgardentesting-fb159.firebaseio.com</string>
</dict>
</plist>